*{
   margin:0%;
   padding:0%;
   box-sizing: border-box;
}

html,body{
   height: 100%;
   width: 100%;
   overflow-x: hidden;
}

#main{
   height: 100%;
   width: 100%;
   font-family: sans-serif;
}

#header{
   background-color: white;
   height: 13%;
   width: 100vw;
   position: fixed;
   display: flex;
   align-items: center;
   font-weight: 600;
   z-index: 20;
}

#logo{
   width: 10vh;
   height: 70%;
   margin: 30px;
   margin-top: 45px;
}


.text{
   margin: 20px;
   color: rgb(24, 24, 134);
}

.text:hover{
   color: rgb(115, 115, 252);
}

#contacts{
   color: rgb(24, 24, 127);
   margin-left: 270px;
   font-weight: lighter;
}

.icons{
   color: rgb(24, 24, 100);
   margin-left: 15px; 
   padding: 10px;
   border-radius: 50%;
}

#login{
   display: flex;
   margin-left: 15px;
   padding: 10px;
   border-radius: 50px;
}

#try{
   margin-left: 25px;
   background-color: rgb(45, 213, 45);
   color: white;
   border-radius: 10px;
   padding: 15px;
}

.icons:hover{
   background-color: lightskyblue;
}

#login:hover{
   background-color: lightskyblue;
}

#try:hover{
   background-color: darkgreen;
}

.underline{
   text-decoration: underline;
   font-weight: lighter;
   font-size: small;
}

#fakeheader{
   background-color:white;
   height: 13vh;
   width: 100vw;
}

#page1{
   height: 87vh;
   background-color: white;
}

#strip{
   height: 7%;
   background-color: rgb(3, 3, 107);
   color: white;
   align-items: center;
   display: flex;
   justify-content: center;
   font-weight: 900;
}

#strip img{
   width: 110px;
   margin-right: 15px;
}

#content{
   display: flex;
   height: 65%;
}

#box1{
   padding: 70px 100px;
   width: 50%;
}

#box1 h1{
   font-size: 50px;
   font-weight: 600;
   color: rgb(0, 0, 82);
}
#box1 p{
   margin-top: 30px;
   margin-bottom: 35px;
   font-size: larger;
}

#btns{
   display: flex;
   align-items: center;
}

#btns1{
   color: white;
   background-color: rgb(56, 56, 218);
   padding: 13px;
   font-weight: bold;
   border-radius: 5px;
}
#btns1:hover{
   background-color: rgb(13, 13, 75);
}

#btns2{
   color: rgb(65, 65, 184);
   border: 1px solid blue ;
   padding: 12px;
   margin-left: 25px;
   font-weight: 600;
   border-radius: 5px;
}
#btns2:hover{
   background-color: rgb(200, 200, 242);
   border: 1px solid rgb(7, 7, 40) ;
}

#heading{
   align-items: center;
   justify-content: center;
   display: flex;
   font-size: larger;
   color: rgb(38, 38, 98);
   margin-top: 70px;
}

#box2 img{
   object-fit: cover;
   width: 100%;
   height: 100%;
   display: block;
}

#card{
   position: absolute;
   top: 10px;
   margin: 50px;
   background-color: white; 
   border-radius: 15px;
   overflow: hidden;
}

#box2{
   width: 50%;
   height: 80%;
   position: relative;
}


#page2{
   height: 87vh;
   background-color: rgba(246, 250, 255, 0.711);
}

.cards{
   display: flex;
   gap: 30px;
   max-width: 80vw;
   margin: auto;
}

.card{
   height: 370px;
   width: 300px;
   border-radius: 15px;
   overflow: hidden;
   background-color: white;
   box-shadow: 5px 5px 10px rgba(112, 112, 112, 0.4);
}

.card img{
   object-fit: cover;
   width: 300px;
}

.card> :nth-child(2){
   color: rgb(38, 38, 98);
   display: flex;
   gap: 20px;
   flex-direction: column;
   padding: 30px;
}

#button{
   padding: 15px 20px;
   width: 230px;
   margin: 30px auto;
   color: #0176d3;
   background-color: white;
   border: 2px solid #0176d3;
   border-radius: 5px;
   font-weight: bold;
   cursor: pointer;
}

#button:hover{
   background-color: rgb(234, 234, 255);
}

#footer img{
   object-fit: cover;
   height: 100%;
   width: 100%;
   display: block;
   margin-top: -170px;
}