* {
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
}

html,
body {
   height: 100%;
   width: 100%;
   background-color: rgb(177, 174, 174);
}

#boxmain{
   border: 3px solid rgb(201, 199, 199);
   width: 35vw;
   height: 700px;
   margin: 60px;
   border-radius: 15px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   background-color: rgb(249, 234, 234);
}

img{
   border-radius: 25px;
   padding: 15px;
}

#span{
  margin-left: 20px;
}

span{
   border: 1px solid black;
   padding: 2px 6px;
   border-radius: 11px;
}

h2{
   margin: 20px;
}
p{
   padding: 11px;
   margin-top: -20px;
   margin-left: 10px;
}

.capsule{
   text-align: center;
   margin-top: 15px;
}

.capsule button{
   padding: 12px;
   border-radius: 12vh;
   color: blue;
   background-color: rgb(220, 220, 253);
   font-weight: 600;
}

.capsule button:hover{
   background-color: blue;
   color: rgb(220, 225, 255);
}