*{
   margin:0%;
   padding:0%;
   box-sizing: border-box;
}

html,body{
   height: 100%;
   width: 100%;
}

.main{
    border: 2px solid rgb(255, 104, 104);
    display: grid;
    grid-template-areas: "nav nav nav"
                         "1pr 1pr 1pr"               ;
}

.navbar{
    grid-area: nav;
    height: 65px;
    text-align: center;
}

.item{
    border: 2px solid grey;
    height: 50px;
}