*{
   margin:0%;
   padding:0%;
   box-sizing: border-box;
}

html,body{
   height: 100%;
   width: 100%;
}

.nav ul{
    display: flex;
    background-color: rgb(119, 85, 119);
    list-style: none;
    margin-left: -10px;
    height: 70px;
    z-index: 50;
    position: fixed;
    width: 110%;
}

ul li{
    padding: 20px;
}

.content{
    background-color: rgb(182, 235, 182);
    height: 60vh;
    display: flex;
}

.box1{
    background-color: antiquewhite;
    height: 300px;
    width: 40%;
    margin: 60px;
    margin-left: 90px;
}

.box2{
    background-color: rgb(154, 112, 56);
    height: 300px;
    width: 40%;
    margin: 60px;
}

.box{
    text-align: center;
}

.card{
    border: 3px solid brown;
    background-color: rgb(221, 180, 180);
    padding: 70px;
    margin: 10px 0px;
    border-radius: 15px;
    text-align: center;
}

#footer{
    background-color: rgb(171, 213, 249);
    height: 200px;
    text-align: center;
}

#mainbody{
    padding-top: 70px;
}

#gola{
    background-color: orange;
    height: 90px;
    width: 90px;
    position: fixed;
    bottom: 95px;
    right: 35px;
    border-radius: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}